@model ProductFormVM

@{
    ViewData["Title"] = "Add";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="Product" enctype="multipart/form-data">
            <partial name="~/Views/Product/ProductFormHelper.cshtml" model="Model" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductList">Back to List</a>
</div>

